*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
    --Blue: rgb(60, 134, 230);
}

header{
    width: 100vw;
    height: auto;
    text-align: center;

}
header h1{
    margin: 20px auto;
}

#container-descri{
    display: flex;
    border: 1px solid ;
    max-width: 600px;
    margin: auto;
}

#foto-perfil{
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
    background-image: url(imagens/img.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 75px;
    border: 2px solid var(--Blue);
    margin: 30px;   
}

#descri{
    margin: auto 20px;
    text-align: left;
}

#descri h2{
    margin-bottom: 10px;
}

section{
    display: grid;
    justify-content: center;
    max-width: 90vw;
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
}

.proj{
    max-width: 400px;
    height: auto;
    border: 3px solid var(--Blue);
    border-radius: 20px;
    display: inline-block;
    justify-content: center;
    overflow: hidden;
    margin-right: 20px ;
}

.descri-proje{
    margin: 20px;
}

.img-proje{
    width: 100%;
    height: 150px;
    
    background-color: bisque;
    background-size: cover;
    background-repeat: no-repeat;
}

#bkg1{
    
    background-image: url(imagens/proj1.png);
}

#bkg2{
    background-image: url(imagens/proj2.png);
    background-position: center;
}

#bkg3{
    background-image: url(imagens/proj3.png);
    background-position: left;
}

#bkg4{
    background-image: url(imagens/proj4.png);
    background-position: top left;
}

#bkg5{
    background-image: url(imagens/proj5.png);
    background-position: top left;
}