*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
    --Blue: rgb(60, 134, 230);
}

header{
    width: 100vw;
    height: auto;
    text-align: center;
}
header h1{
    margin: 20px auto;
}

#container-descri{
    display: flex;
    border: 1px solid ;
}

#foto-perfil{
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
    background-image: url(imagens/img.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 75px;
    border: 2px solid var(--Blue);
    margin: 30px;   
}

#descri{
    margin: auto;
}

#descri h2{
    margin-bottom: 20px;
}

section{
    display: grid;
    justify-content: center;
    max-width: 90vw;
    margin: auto;
}

.proj{
    max-width: 200px;
    height: auto;
    border: 3px solid var(--Blue);
    border-radius: 20px;
    display: block;
    justify-content: center;
    overflow: hidden;
    margin-right: 20px ;
}

.descri-proje{
    margin: 20px;
}

.img-proje{
    max-width: 350px;
    height: 150px;
    background-color: bisque;
    background-image: url(imagens/proj1.png);
    background-size: cover;
    margin: auto;
}